* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    margin: 0 auto;
    max-width: 350px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    margin: 0 1rem;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.text {
    padding: 24px 10px;
}

.text h2 {
    padding-bottom: 16px;
    color: hsl(218, 44%, 22%);
}

.text p {
    color: hsl(220, 15%, 55%);
}